body { font-family: Tahoma; background:#0f172a; color:white; text-align:center; margin-top:50px; }
input, select, button { padding:10px; margin:5px; }
table { margin:auto; border-collapse: collapse; width:90%; }
th, td { padding:10px; border:1px solid #ccc; color:white; }
button { background:#22c55e; border:none; cursor:pointer; }
